<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="database" connectionString="Data Source=GERLANDOCORPUTT;Initial Catalog=SI_Hotel;Integrated Security=True" />
    <add name="ProjectAkhir_Kel02.Properties.Settings.SI_HotelConnectionString" connectionString="Data Source=GERLANDOCORPUTT;Initial Catalog=SI_Hotel;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SI_HotelEntities" connectionString="metadata=res://*/ModelLaporanTransaksiKamar.csdl|res://*/ModelLaporanTransaksiKamar.ssdl|res://*/ModelLaporanTransaksiKamar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities1" connectionString="metadata=res://*/ModelLaporanTransaksiRuangan.csdl|res://*/ModelLaporanTransaksiRuangan.ssdl|res://*/ModelLaporanTransaksiRuangan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities2" connectionString="metadata=res://*/ModelReportRuangan.csdl|res://*/ModelReportRuangan.ssdl|res://*/ModelReportRuangan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities3" connectionString="metadata=res://*/ModelReportRuangan.csdl|res://*/ModelReportRuangan.ssdl|res://*/ModelReportRuangan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities4" connectionString="metadata=res://*/ModelReportKamar.csdl|res://*/ModelReportKamar.ssdl|res://*/ModelReportKamar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities5" connectionString="metadata=res://*/ModelReportMenu.csdl|res://*/ModelReportMenu.ssdl|res://*/ModelReportMenu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities6" connectionString="metadata=res://*/ModelReportMenu.csdl|res://*/ModelReportMenu.ssdl|res://*/ModelReportMenu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities7" connectionString="metadata=res://*/ModelReportMenu.csdl|res://*/ModelReportMenu.ssdl|res://*/ModelReportMenu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities8" connectionString="metadata=res://*/ModelReportMenu.csdl|res://*/ModelReportMenu.ssdl|res://*/ModelReportMenu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities9" connectionString="metadata=res://*/ModelTransaksiRuangan.csdl|res://*/ModelTransaksiRuangan.ssdl|res://*/ModelTransaksiRuangan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities10" connectionString="metadata=res://*/ModelReportRuangan.csdl|res://*/ModelReportRuangan.ssdl|res://*/ModelReportRuangan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities11" connectionString="metadata=res://*/ModelReportMenu.csdl|res://*/ModelReportMenu.ssdl|res://*/ModelReportMenu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities12" connectionString="metadata=res://*/ModelReportMenu.csdl|res://*/ModelReportMenu.ssdl|res://*/ModelReportMenu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities13" connectionString="metadata=res://*/ModelReportRuangan.csdl|res://*/ModelReportRuangan.ssdl|res://*/ModelReportRuangan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities14" connectionString="metadata=res://*/ModelDGRole.csdl|res://*/ModelDGRole.ssdl|res://*/ModelDGRole.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities15" connectionString="metadata=res://*/ModelDGDetailUser.csdl|res://*/ModelDGDetailUser.ssdl|res://*/ModelDGDetailUser.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities16" connectionString="metadata=res://*/ModelDGUser.csdl|res://*/ModelDGUser.ssdl|res://*/ModelDGUser.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities17" connectionString="metadata=res://*/ModelDGKamar.csdl|res://*/ModelDGKamar.ssdl|res://*/ModelDGKamar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities18" connectionString="metadata=res://*/ModelDGJenisKamar.csdl|res://*/ModelDGJenisKamar.ssdl|res://*/ModelDGJenisKamar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities19" connectionString="metadata=res://*/ModelKelasKama.csdl|res://*/ModelKelasKama.ssdl|res://*/ModelKelasKama.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities20" connectionString="metadata=res://*/ModelDGFasilitas.csdl|res://*/ModelDGFasilitas.ssdl|res://*/ModelDGFasilitas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities21" connectionString="metadata=res://*/ModelDGDetailFasilitas.csdl|res://*/ModelDGDetailFasilitas.ssdl|res://*/ModelDGDetailFasilitas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities22" connectionString="metadata=res://*/ModelDGMenu.csdl|res://*/ModelDGMenu.ssdl|res://*/ModelDGMenu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities23" connectionString="metadata=res://*/ModelDGJenisMenu.csdl|res://*/ModelDGJenisMenu.ssdl|res://*/ModelDGJenisMenu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities24" connectionString="metadata=res://*/ModelDGRuangan.csdl|res://*/ModelDGRuangan.ssdl|res://*/ModelDGRuangan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SI_HotelEntities25" connectionString="metadata=res://*/ModelDGRuangann.csdl|res://*/ModelDGRuangann.ssdl|res://*/ModelDGRuangann.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GERLANDOCORPUTT;initial catalog=SI_Hotel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>